
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'Varela Round', sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	overflow-x: hidden;
    overflow-y: auto;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.start{
	background:url(../img/default/background.png) repeat-y center bottom; 
	position:fixed;             
    left:0;
    top:0;
	bottom: 0;
	right:0;
    height:100%;
    width:100%;
	display: table;
}
.start .logo {
    padding: 1em;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
}
.loading{
	position:fixed;
	bottom: 1em;
	color: white;
	width:100%;
	bottom: 0;
	padding: 1em;
	font-family: 'Varela Round', sans-serif;
	font-size: 1.5em;
}

.page-1{
	background-image:url(../img/default/page2.png); 
	background-size: cover;
	background-repeat: repeat-y;
	background-position: center;
	position:absolute;             
    left:0;
    top:0;
	bottom: 0;
	right:0;
    height:100%;
    width:100%;
	font-family: 'Varela Round', sans-serif !important;
	overflow-y: auto;
}
.page-1 .header {
    background: url(../img/default/background.png) repeat center bottom;
    height: 115px;
    padding: 0.5em;
}
.page-2 .header {
    background: url(../img/default/background.png) repeat center bottom;
    height: 50px;
    padding: 0.5em;
}
.page-1 .body,.page-2 .body {
    padding: 0.5em;
	font-family: 'Varela Round', sans-serif !important;
	overflow-y: auto;
}

.btn-color1 {
  color: #333333;
  background: #eeca2b;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-weight: bold;
}
.btn-color1:hover {
  color: #333333;
  background: #eeca2b;
}

.btn-redes {
  color: #333333;
  background: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px rgba(0,0,0,0.3) !important;
  border-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.25);
  font-weight: bold !important;
  font-size:1.4em !important;
}
.btn-redes:hover {
  color: #333333;
  border: solid 1px rgba(0,0,0,0.3) !important;
  background: #fff;
}
.btn-redes .text {
    padding-top: 0.7em;
    position: relative;
    display: block;
}
.form-group {
    margin-bottom: 2px;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.avatar{
    width: 80px;
    height: 80px;
	margin-right: 0.5em;
}
.logitem{
    width: 50px;
    height: 50px;
	margin-right: 0.5em;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.container-fluid {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}
.title1{
	color: #693484;
	font-weight: bold;
}

.btn-color2 {
  color: #fff;
  background: #63a93b;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-weight: bold;
}
.btn-color2:hover {
  color: #fff;
  background: #63a93b;
}

.btn-color3 {
  color: #fff;
  background: red;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-weight: bold;
}
.btn-color3:hover {
  color: #fff;
  background: red;
}

.item-box{
	position: relative;
	margin-bottom: 0.5em;
}

.item-box .body,.item-box .body-tmp {
    background-color: #fff;
    border-radius: 10px;
    border: solid 1px #fff;
}

.item-box .body:hover {
    background-color: #f3e8f9;
    border-radius: 10px;
    border: solid 1px #e3c7f3;
}

.actions{
	position: absolute;
	right:20px;
	top: 10px;
}
.page-header-mini1 {
    padding-bottom: 0px;
    margin: 3px 0 6px;
    border-bottom: 1px solid #693484;
	color: #693484;
	font-size: 9px;
}
.page-header-mini2 {
    padding-bottom: 0px;
    margin: 3px 0 6px;
    border-bottom: 1px solid #333333;
	color: #333333;
	font-size: 9px;
}